* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1344px;
  position: relative;
  width: 1344px;
}

.puzzle-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
}

.puzzle-container .game {
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game .grid-container {
  background-color:#3273dc;
  border-radius: 9px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 470px;
  padding: 30px;
  width: 470px;
}

.grid-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.grid-row > div {
  align-items: center;
  background-color: white;
  border-radius: 9px;
  display: flex;
  font-size: 32px;
  justify-content: center;
  margin: 15px;
  width: 87px;
}

.grid-row .empty {
  background-color: transparent;
}

#game-message {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(238, 228, 218, 0.5);
  z-index: 100;
}

#game-message p {
  font-size: 99px;
  text-align: center;
  line-height: 500px;
}

.game-win {
  display: inline-block !important;
}

.puzzle-container .controlers {
  flex-grow: 1;
}

