* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1344px;
  position: relative;
  width: 1344px;
}

.puzzle-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
}

.puzzle-container .game {
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game .grid-container {
  background-color:#3273dc;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 470px;
  padding: 30px;
  width: 470px;
}

.grid-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.grid-cell {
  background-color: white;
  border-radius: 3px;
  margin: 15px;
  width: 87px;
}

.puzzle-container .controlers {
  flex-grow: 1;
}

